.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

header.logo-wrap {
  margin-top: 14px;
}
#logo {
  width: 87.42px;
}

.login-form-wrap {
  padding-top: 41.58px;
}
input {
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #1c4747;
  font-size: 13px;
  width: 303.5px;
}
input#upw {
  margin-top: 21px;
}
button#bt-login {
  margin-top: 116px;
  width: 236px;
  height: 48px;
  border: none;
  background-color: #1c4747;
  font-size: 18px;
  color: white;
  border-radius: 50px;
}

.bt-wrap {
  margin-top: 17px;
}
button#join-bt {
  width: 53px;
  font-size: 10px;
  border: none;
  background-color: white;
  color: #333333;
}
